@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #636363;
}

a {
  text-decoration: none;
  color: #FA3150;
}
a:hover {
  text-decoration: underline;
  color: #FA3150;
}

button {
  padding: 10px 35px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
  transition: all 0.2s;
}
button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.btn-white {
  border: none;
  background-color: #FFFFFF;
  color: #292929;
  border: 1px solid #292929;
}

.btn-theme {
  border: none;
  background-color: #FA3150;
  color: #FFFFFF;
}

header {
  padding: 15px 0;
}
@media (min-width: 992px) {
  header {
    padding: 30px 0;
  }
}
header .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "logo btn" "menu menu";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo menu";
  }
}
header .logo {
  grid-area: logo;
}
header #menu {
  grid-area: menu;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 992px) {
  header #menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
header #menu .menu-links {
  color: #292929;
  padding-top: 30px;
}
@media (min-width: 992px) {
  header #menu .menu-links {
    padding-top: 0;
  }
}
header #menu .menu-links .link {
  color: #292929;
  display: block;
  margin: 10px 20px;
  padding: 10px;
}
@media (min-width: 992px) {
  header #menu .menu-links .link {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
  }
}
header #menu .menu-links .link:hover {
  color: #FA3150;
}
header #menu .menu-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
}
@media (min-width: 992px) {
  header #menu .menu-icons {
    position: static;
    padding: 10px;
  }
}
header #menu .menu-icons .link {
  color: #AEAEAE;
  margin-left: 15px;
}
header #menu .menu-icons .link:hover {
  color: #292929;
}
header .toggle {
  grid-area: btn;
  display: flex;
  justify-content: end;
}
@media (min-width: 992px) {
  header .toggle {
    display: none;
  }
}
header .toggle .btn-white {
  padding: 5px 15px;
  font-size: 1.4rem;
}

.showcase {
  background-color: #F3F2F2;
  padding: 60px 0;
}
@media (min-width: 992px) {
  .showcase {
    padding: 0px 0 60px 0;
  }
}
.showcase .container {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .showcase .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.showcase .content {
  font-family: "Poppins", sans-serif;
  color: #292929;
}
@media (min-width: 992px) {
  .showcase .content {
    flex: 2;
    text-align: left;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .showcase .content {
    flex: 1;
    padding-right: 100px;
  }
}
.showcase .content .ingress {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.showcase .content .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .showcase .content .title {
    font-size: 60px;
    margin-bottom: 50px;
  }
}
.showcase .content-image {
  display: none;
}
@media (min-width: 992px) {
  .showcase .content-image {
    flex: 1;
    display: block;
  }
}
.showcase img {
  width: 100%;
  height: auto;
}

.best-collection {
  padding: 40px 20px;
}
.best-collection .collection-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #292929;
}
@media (min-width: 768px) {
  .best-collection .collection-title {
    font-size: 48px;
  }
}
.best-collection .categories {
  display: none;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .best-collection .categories {
    display: flex;
  }
}
.best-collection .category-item {
  margin-right: 5px;
}
.best-collection .category-item + li::before {
  content: "/";
  margin-right: 5px;
}
.best-collection .collection-grid {
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(4, calc(25% - 40px));
}
.best-collection .collection-item {
  margin: 0;
  color: #000000;
  text-align: left;
}
.best-collection .btn-load-more {
  padding: 40px;
  text-align: center;
}

.up-to-sell {
  background-color: #FAEFEF;
  padding: 40px 20px;
}
.up-to-sell .collection-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "content" "item-1" "item-2";
  gap: 40px;
}
@media (min-width: 768px) {
  .up-to-sell .collection-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "content content" "item-1 item-2";
  }
}
@media (min-width: 992px) {
  .up-to-sell .collection-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "item-1 content item-2";
  }
}
.up-to-sell .collection-grid .item-1 {
  grid-area: item-1;
}
.up-to-sell .collection-grid .discover {
  grid-area: content;
}
.up-to-sell .collection-grid .item-2 {
  grid-area: item-2;
}
.up-to-sell .collection-grid .collection-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.up-to-sell .collection-grid .collection-content .container {
  text-align: center;
  padding: 30px 20px;
}
.up-to-sell .body {
  background-color: white;
  width: 91%;
}
.up-to-sell .title {
  color: black;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 10px;
}
.up-to-sell .price {
  color: #636363;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 10px;
}
.up-to-sell .discover {
  text-align: center;
}
.up-to-sell .discover h1 {
  padding: 10px;
  color: #FA3150;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.up-to-sell .discover h2 {
  padding: 10px;
  color: #363636;
  font-size: 48px;
  font-weight: 700;
}
.up-to-sell .discover h3 {
  padding: 10px;
  color: #363636;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.up-to-sell .discover p {
  padding: 10px;
  color: #636363;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.up-to-sell .discover .btn-sell {
  padding: 20px;
  border: none;
}

.top-selling {
  padding: 40px 20px;
}
.top-selling .top-selling-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #292929;
}
.top-selling .collection-grid {
  position: relative;
  left: -18%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
@media (min-width: 768px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}
.top-selling .collection-grid .collection-item .body .title {
  font-size: 14px;
  font-weight: 500;
}
.subscribe-panel {
  background-color: #AEAEAE;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-panel .container {
  background-color: #FFFFFF;
  text-align: center;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-panel .subscribebox {
  background-color: #F3F2F2;
  position: relative;
}
.subscribe-panel .subscribebox #subscribeboxForm #subscribe-box {
  padding: 8px 16px;
  border-radius: 10px;
  width: 500px;
  border: none;
}
.subscribe-panel .btn-subscribe {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  background-color: #FA3150;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  background-color: #363636;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-box p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #A5A5A5;
}