@model int

@{
    var product = await productRepo.GetAsync(x => x.Id == Model);
}

@if(product != null)
{
    <section class="product-details">
            <div class="product-details-img">
            <img src="@product.ImageUrl" />
            </div>
        <div class="product-details-features">
            <h1>@product.Title</h1>
            <p>@product.Description</p>
            <h3>$@product.Price.ToString("N")</h3>
        </div>
    </section>
} else
{
    <div>
        Ingen produkt hittades.
    </div>
}