.subscribe-panel {
    background-color: $color-dark-4;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;


    .container {
        background-color: $color-white;
        text-align: center;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subscribebox {
        background-color: $color-theme-3;
        position: relative;

        #subscribeboxForm {

            #subscribe-box {
                padding: 8px 16px;
                border-radius: 10px;
                width: 500px;
                border: none;
            }
        }
    }


    .btn-subscribe {
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px;
        background-color: $color-theme-1;
        color: $color-white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}
