.top-selling {
    padding: 40px 20px;

    .top-selling-title {
        text-align: center;
        font-family: $font-poppins;
        font-weight: $font-weight-semibold;
        font-size: 30px;
        color: $color-dark-2;
    }

    .collection-grid {
        position: relative;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }

        @include xl {
            grid-template-columns: repeat(7, 1fr);
        }

        a:hover {
            text-decoration: underline;
            color: black;
        }

        .title {
            color: black;
            font-size: 18px;
            font-family: $font-poppins;
            font-weight: $font-weight-medium;
        }

        .price {
            color: $color-dark-3;
            font-size: 16px;
            font-family: $font-poppins;
            font-weight: $font-weight-regular;
        }
    }

    .btn-arrows {
        text-align: center;
    }
}
