.footer {
    background-color: $color-dark-5;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-box {

        p {
            font-size: 16px;
            font-weight: $font-weight-regular;
            font-family: $font-poppins;
            color: $color-dark-6;
        }
    }
}